<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #504C5E; color: #A89B34">
    <div class="container-fluid">

        <div class="navbar-brand col-12 col-sm-7">
            <a href="https://5-max.github.io/pro/" rel="noopener noreferrer" target="_self" title="Home">
            <img class="logo-img" src="../styles/pics/sailing.jpg" /> 
            </a>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav pl-2 col-sm-12">
                <li class="nav-item active">
                    <a id="headerHome" class="nav-link" href="https://5-max.github.io/pro/" target="_self"noopener noreferrer">Home</a>
                </li>
                <li class="nav-item">
                    <a id="headerProjects" class="nav-link" href="./projects.html" rel="noopener noreferrer">Projects</a>
                </li>
                <li class="nav-item">
                    <a id="headerEducation" class="nav-link" href="./education.html" rel="noopener noreferrer">Education</a>
                </li>
                <li class="nav-item">
                    <a id="headerAbout" class="nav-link" href="./about.html" rel="noopener noreferrer">About Me</a>
                </li>
                <li class="nav-item">
                    <a id="headerMusic" class="nav-link" href="./music.html" rel="noopener noreferrer">Music</a>
                </li>
            </ul>
        </div>
    </div>
</nav>