/* 

color wheel

A      #A89B34
B      #A8A26D
C      #5C5732
D      #6253A8
E      #504C5E


#B5A938 

###                             
#  #    # #####  ###### #    # 
#  ##   # #    # #       #  #  
#  # #  # #    # #####    ##   
#  #  # # #    # #        ##   
#  #   ## #    # #       #  #  
### #    # #####  ###### #    # 
*/
* {
  width: 100%;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
.makeSerif {
  font-family: 'Noto Serif', serif;
}

.container-fluid {
  background-color: #6253A8;
}
@-webkit-keyframes move_eye { from { margin-left: -55%; } to { margin-left: 130%; }  }
@keyframes move_eye { from { margin-left: -55%; } to { margin-left: 130%; }  }

.view_port {
  background-color: transparent;
  height: 125px;
  width: 60%;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
.polling_message {
  color: black;
  float: left;
  height: auto;
  width: 100%;
  font-size: 1.2rem;
  z-index: 15;
}
.polling_message:hover {
  z-index: 0;
  color: red;
}
  @media screen and (max-width: 480px) {
    .polling_message {
      font-size: .5rem;
      padding-top: 25px;
      height: 50px;
    }
    .view_port {
      height: 75px;
    }
  }
.cylon_eye {
  background-color:  #A89B34;
  background-image: linear-gradient(to right,  #504C5E 25%, rgba(252, 219, 157, 1) 50%,  #504C5E 75%);
  height: 100%;
  width: 40%;
  border-radius: 5px;
  animation: 20s linear 0s infinite alternate move_eye;
}
.landing_font li {
  font-size: 1.5rem;
  align-items: center;
}

.logo-img {
  border-radius: 35px;
  height: 75px;
  width: auto;
  opacity: .5;
}
.logo-img:hover {
  border-radius: 20px;
  height: 250px;
  width: auto;
  transition: all 3s ease-out;
  opacity: 1;
}
@media screen and (max-width:480px) {
  .logo-img {
    display: flex;
    margin: auto;
    opacity: 1;
  }
    .logo-img:hover {
      border-radius: 35px;
      height: 75px;
      width: auto;
      opacity: 1;
    }

}

.landing_image {
  background-image: url("../styles/pics/de_camino_a_culebra.png"); 
  width: 1187px;
  max-width: 100%;
  height: 930px;
  max-height: 100%;
  border-radius: 20px; 
  border: 3px solid #504C5E; 
  box-shadow: 15px 10px 30px #504C5E;
  opacity: .7;
}
.landing_image:hover {
  color: #c6a5cd26;
  border-radius: 35px; 
  opacity: .9;
}
footer {
  background-color: #504C5E; 
  color: #A89B34; 
  font-size: .8rem;
  overflow: hidden;
}
footer a svg {
  color: white;
  margin: 1px;
  width: 20px;
}
nav {
  z-index: 55;
}
nav a {
  color: #817835;
  font-size: 3rem;
}
footer a {
  color: #d2c87d;
  font-size: 2rem;
}

/* About */

.about-img {
  width: 70%;
  height: 50%;
  margin: auto;
  border-radius: 56px;
  border: 2px solid #6253A8;
  box-shadow: 9px 17px 20px;
}

.welcome-effect h5 {
  animation: 25s linear 2s infinite alternate slidein;
  animation-direction: normal;
} 
  @keyframes slidein {
    from { transform: scaleX(1); }
    to   { transform: scaleX(4); }
  }

/* Education */

.carouselText a {
  text-decoration: underline solid black; 
  font-size: 3.5rem;
  font-family: 'Noto Serif', serif;
}
.carouselText p {
  font-size: 1.2rem; 
  margin-top: -5px;
}
.carouselSize {
  height: 800px; 
  width: 800px; 
  color: white;
}
@media screen and (max-width:480px) {
  .carouselSize {
    height: 300px; 
    width: 300px; 
  }
  .carouselText a {
    text-decoration: underline solid black; 
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
  }
  .carouselText p {
    font-size: .8rem; 
    margin-top: -5px;
  }
  footer a {
    padding: 10px;
    font-size: 1rem;
  }
  footer p {
    padding: 5px;
    font-size: .6rem;
  }

}



/* style="height: 150px; width: 100%; box-shadow: 10px 5px 5px #504C5E;" */
/* Projects */

.card-img-top {
  justify-items: center;
  height: 190px;
  width: 100%;
}
.card-carousel img {
  justify-items: center;
  height: 190px;
  width: 100%;
}
.tryhackmeLink {
  height: 145px;
  margin: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Music */

.music {
  z-index: 3;
  position: relative;
}

/* Mobile trying to get hamburger to work and take out Kal on Mobile devices */
@media screen and (max-width:480px) {
.music{z-index: 1;}
.example{}
.kal_main{}
.kal_cont {}
.kal_cont .ks{display: none;}
.navbar-toggler .nabar-toggler-icon{z-index: 88;}
.kal_cont .ksc .s1 .s2 .s3 .s4 .s5 .s6 .s7 .s8 .s9 .s10 .s11 .s12{ display: none; z-index: 0;}
}


.example{background:#0a0a0a;}
/* common kaleidoscope styles */
.kal_main{overflow:hidden;width:20px;height:20px;margin:0;left:-20%;top:-20%}
.kal_cont{width:auto;height:80%;left:80%;top:0%;margin:0}
.kal_cont .ks{opacity: .4;
  z-index: 2;
-webkit-transform-origin:right top;-moz-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top;
width:60%;height:80%;top:80%;left:-155px;position:absolute;z-index:0;overflow:hidden;
}
.kal_cont .ksc{
height:150%;width:150%;-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg);position:relative;-webkit-transform-origin:left top;-moz-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top;left:50%;top:0;
background-image:url(../styles/pics/de_camino_a_culebra.png);
}
/* styles for each sector */
.kal_cont .s1 {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.kal_cont .s2 {
  -webkit-transform: rotate(30deg) matrix(-1,0,0,1,0,0);
  -moz-transform: rotate(30deg) matrix(-1,0,0,1,0,0);
  -o-transform: rotate(30deg) matrix(-1,0,0,1,0,0);
  transform: rotate(30deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s3 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.kal_cont .s4 {
  -webkit-transform: rotate(90deg) matrix(-1,0,0,1,0,0);
  -moz-transform: rotate(90deg) matrix(-1,0,0,1,0,0);
  -o-transform: rotate(90deg) matrix(-1,0,0,1,0,0);
  transform: rotate(90deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s5 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.kal_cont .s6 {
  -webkit-transform: rotate(150deg) matrix(-1,0,0,1,0,0);
  -moz-transform: rotate(150deg) matrix(-1,0,0,1,0,0);
  -o-transform: rotate(150deg) matrix(-1,0,0,1,0,0);
  transform: rotate(150deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s7 {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}
.kal_cont .s8 {
  -webkit-transform: rotate(210deg) matrix(-1,0,0,1,0,0);
  -moz-transform: rotate(210deg) matrix(-1,0,0,1,0,0);
  -o-transform: rotate(210deg) matrix(-1,0,0,1,0,0);
  transform: rotate(210deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s9 {
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
}
.kal_cont .s10 {
  -webkit-transform: rotate(270deg) matrix(-1,0,0,1,0,0);
  -moz-transform: rotate(270deg) matrix(-1,0,0,1,0,0);
  -o-transform: rotate(270deg) matrix(-1,0,0,1,0,0);
  transform: rotate(270deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s11 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.kal_cont .s12 {
  -webkit-transform: rotate(330deg) matrix(-1,0,0,1,0,0);
  -moz-transform: rotate(330deg) matrix(-1,0,0,1,0,0);
  -o-transform: rotate(330deg) matrix(-1,0,0,1,0,0);
  transform: rotate(330deg) matrix(-1,0,0,1,0,0);
}

/* body{background:#eee;font-family:Verdana, Helvetica, Arial, sans-serif;margin:0;padding:0}
.example{background:#FFF;border:0px #000 solid;margin: auto;padding: 20px;-moz-border-radius:1px;-webkit-border-radius:1px}
/* common kaleidoscope styles 
.kal_main{overflow:hidden;width:500px;height:500px;margin:0}
.kal_cont{width:140%;height:140%;left:-20%;top:-20%;position:relative;margin:auto}
.kal_cont .ks{
  z-index: 1;
-webkit-transform-origin:right top;-moz-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top;
width:50%;height:50%;position:absolute;top:50%;left:0;z-index:10;overflow:hidden;
}
.kal_cont .ksc{
height:100%;width:100%;-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg);position:relative;-webkit-transform-origin:left top;-moz-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top;left:100%;top:0;
background-image:url(../styles/pics/de_camino_a_culebra.png)
} */